@using Projekt_.net.Enums
@model IEnumerable<Projekt_.net.Entities.OrderEntity>


<h2>Lista zamówień</h2>
<form method="GET" class="form-inline mb-2">
    <input type="text" name="name" placeholder="Filter by name" class="form-control" />
    <button type="submit" class="btn btn-primary ml-2">Wyszukaj zamówienie</button>
    <div class="col">
        <a asp-action="Add" class="btn btn-primary w-30">Dodaj nowe zamówienie</a>
    </div>
</form>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Kontrahent</th>
            <th>Przedmioty</th>
            <th>Adres wysyłki</th>
            <th>Wartość zamówienia</th>
            <th>Data zamówienia</th>
            <th>Status zamówienia</th>
            <th>Opcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(i => i.OrderStatusEnum == OrderStatusEnum.Wyslane))
        {
            <tr>
                <td>@item.Contractor</td>
                <td>@item.Items </td>
                <td>@item.Address</td>
                <td>@item.NetOrderValue</td>
                <td>@item.OrderDate</td>
                <td>@item.OrderStatusEnum</td>

                <td>
                    <div class="btn-group" role="group">
                        <a asp-controller="Orders" asp-action="Update" asp-route-Id="@item.Id" class="btn btn-primary mx-1">Zmień</a>
                    </div>
                </td>
            </tr>

        }
    </tbody>

</table>