@using Projekt_.net.Enums
@model IEnumerable<Projekt_.net.Entities.OrderEntity>


<h2>Lista zamówień anulowanych</h2>
<form method="GET" class="form-inline mb-2">
    <input type="text" name="name" placeholder="Filter by name" class="form-control" />
    <button type="submit" class="btn btn-primary ml-2 mr-1">Wyszukaj zamówienie</button>
    <div>
        <a asp-action="Add" class="btn btn-primary mr-1">Dodaj nowe zamówienie</a>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-primary">Zobacz zamówienia w trakcie realizacji</a>
    </div>
</form>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Kontrahent</th>
            <th>Przedmioty</th>
            <th>Adres wysyłki</th>
            <th>Wartość zamówienia</th>
            <th>Data zamówienia</th>
            <th>Status zamówienia</th>
            <th>Powód anulowania</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(i => i.OrderStatusEnum == OrderStatusEnum.Anulowane))
        {
        <tr>
            <td>@item.Contractor</td>
            <td>@item.Items </td>
            <td>@item.Address</td>
            <td>@item.NetOrderValue</td>
            <td>@item.OrderDate</td>
            <td>@item.OrderStatusEnum</td>
            <td>@item.CancellationReason</td>
        </tr>

        }
    </tbody>

</table>